@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Press+Start+2P&display=swap');

/* ==========
GENERAL
========== */

* {
  margin: 0;
  padding: 0;
  border: 0;
}
  
html {
  height: 100%;
}
  
body {
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100%;
  background-color: #000;
  color: #fff;
}
  
ul {
  list-style: none;
}

/* ==========
NAVBAR
========== */
.navbar {
  width: 100%;
  text-align: end;
  background-color: #101010;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  color: #A9A9A9;
}

/* ==========
HEADER
========== */
h1 {
  color: #00cc00;
  margin: 10px;
}

/* ==========
BUTTONS
========== */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  margin: 6px;
}

#instructions {
  color: #fff;
  background-color: #8A2BE2;
  border-color: #8A2BE2;
}

#instructions:hover {
  background-color: #4B0082;
}

#start {
  color: #fff;
  background-color: #FF0000;
  border-color: #FF0000;
}

#start:hover {
  background-color: #8B0000;
}

/* ==========
MODAL OVERLAY
========== */
.modalOverlay {
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modalContent {
  background-color: #404040;
  color: #fff;
  text-align: center ;
  width: 70%;
  position: absolute;
  top: 25%;
  left: 15%;
  visibility: hidden;
}

.modalContent h2 {
  color: #00FFFF;
  font-size: 20px;
}

.p-tag {
  color: #00cc00;
}

ul {
  list-style: square;
  text-align: start;
  color: #D3D3D3;
}

#close {
  color: #fff;
  background-color: #0000FF;
  border-color: #0000FF;
}

#close:hover {
  background-color: #000080;
}

.modalOverlay.active, .modalContent.active {
  visibility: visible;
}




/* ==========
GAME
========== */
.console {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95vmin;
  border: #696969 solid;
  border-width: 3px;
  margin: 10px 0 60px;
}

.scoreboard p {
  margin: 6px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #383838;
}

#playdeck {
  border: #202020 solid;
  border-width: 3px;
}

.game {
  background-color: #383838;
  border: #202020 solid;
  border-width: 3px;
  margin: 0;
}

.block {
  color: #000;
  background-color: #A9A9A9;
  font-size: 4vmin;
  width: 20vmin;
  height: 20vmin;
  line-height: 20vmin;
  border: #A9A9A9 solid 3px;
  border-radius: 50%;
  margin: 10px auto;
}

/* ==========
FOOTER
========== */

footer {
  width: 100%;
  text-align: center;
  margin: auto;
}

.copyright {
  font-family: 'Orbitron', sans-serif;
  color: #A9A9A9;
}

.copyright p {
  margin-bottom: 0;
}